#__gvl__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999;

    color: black;
}

.__gvl__backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);
}

.__gvl__links {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    list-style-type: none;

    background: rgba(255, 255, 255, 0.9);

    text-align: center;
}

.__gvl__link,
.__gvl__msg {
    display: block;
    padding: 2em;
    font-size: 1.2em;
}