<link rel=stylesheet href="file32.css" type="text/css"> <import src="file78.js"></import> <template id=noNamedActions> <noNamedActions>
		None of your actions has a name yet. <hr b=2>
		Click on the top bar of any action to <br> name it. <hr b>
		Then, those actions will appear here. <hr b=2>
		See <a href="${URLS.actMenu}">this page</a> for an example.
	</noNamedActions> </template>
